# Ignora la cartella dei log generata
logsPDDL/

# Ignora tutti i file di log sparsi
*.sp_log

# Ignora file di sistema
.DS_Store
Thumbs.db

# Ignora le impostazioni locali di Visual Studio Code
.vscode/
versions/V5/resultsGenerator/

#Ignora i problem generati
application/V5/problemGeneratorDiego/problemGenerati/problem_*.pddl

#Si può fare anche escludendo il domain così !application/V5/problemGeneratorDiego/problemGenerati/domainDiegoV5.pddl

.~lock.*